[Unit]
Description=Hashicorp's amazing consul-template
After=consul.service

[Service]
ExecStart=/usr/bin/consul-template -max-stale 5s -template "/usr/local/etc/consul-template/index.tpl:/usr/share/nginx/html/index.html"
Restart=always
RestartSec=5
KillSignal=SIGINT

[Install]
WantedBy=consul.service
